Repository ra3xdh/qucs_s, pull requests merged in 2024-05, with the labels that each got.

#533 Create a unified settings model which will eventually remove the need for QucsSettings
  examples/templates_ngspice/TRAN_FFT_OpAmp.sch
  qucs/CMakeLists.txt
  qucs/components/componentdialog.cpp
  qucs/dialogs/qucssettingsdialog.cpp
  qucs/main.cpp
  qucs/main.h
  qucs/qucs.cpp
  qucs/qucs.h
  qucs/settings.cpp
  qucs/settings.h
Labels: refactoring

#715 Refactoring qf_cauer and adding tee types
  qucs-filter/qf_cauer.cpp
  qucs-filter/qf_cauer.h
  qucs-filter/qf_elliptic_functions.h
  qucs-filter/qf_filter.cpp
  qucs-filter/qf_filter.h
  qucs-filter/qf_math.h
  qucs-filter/qf_matrix.h
  qucs-filter/qf_poly.cpp
  qucs-filter/qf_poly.h
  qucs-filter/qf_subsection.h
  qucs-filter/qucsfilter.cpp
Labels: filter

#720 added macos.yml
  .github/workflows/macos.yml
Labels: mac

#725 added windows ci continuous release
  .github/workflows/windows.yml
Labels: windows

#717 Rework calcAxisLogScale(). Fixes endless loop.
  qucs/diagrams/diagram.cpp
Labels: bug

#727 Varactor library and about dialog update
  library/CMakeLists.txt
  library/Varactor.lib
  qucs/dialogs/aboutdialog.cpp
  qucs/dialogs/aboutdialog.h
Labels: documentation, library

#708 Refactor Component::getTextSelected
  qucs/components/component.cpp
  qucs/components/component.h
  qucs/schematic_element.cpp
Labels: refactoring

#723 Refactor drawing subsystem
  qucs/CMakeLists.txt
  qucs/components/component.cpp
  qucs/components/component.h
  qucs/components/logical_inv.cpp
  qucs/components/relais.cpp
  qucs/components/switch.cpp
  qucs/components/vacomponent.cpp
  qucs/diagrams/diagram.cpp
  qucs/diagrams/diagram.h
  qucs/diagrams/graph.cpp
  qucs/diagrams/graph.h
  qucs/diagrams/marker.cpp
  qucs/diagrams/marker.h
  qucs/diagrams/tabdiagram.cpp
  qucs/diagrams/tabdiagram.h
  qucs/diagrams/timingdiagram.cpp
  qucs/diagrams/timingdiagram.h
  qucs/element.cpp
  qucs/element.h
  qucs/imagewriter.cpp
  qucs/imagewriter.h
  qucs/main.cpp
  qucs/misc.cpp
  qucs/misc.h
  qucs/node.cpp
  qucs/node.h
  qucs/paintings/arrow.cpp
  qucs/paintings/arrow.h
  qucs/paintings/ellipse.cpp
  qucs/paintings/ellipse.h
  qucs/paintings/ellipsearc.cpp
  qucs/paintings/ellipsearc.h
  qucs/paintings/graphicline.cpp
  qucs/paintings/graphicline.h
  qucs/paintings/graphictext.cpp
  qucs/paintings/graphictext.h
  qucs/paintings/id_text.cpp
  qucs/paintings/id_text.h
  qucs/paintings/painting.h
  qucs/paintings/portsymbol.cpp
  qucs/paintings/portsymbol.h
  qucs/paintings/rectangle.cpp
  qucs/paintings/rectangle.h
  qucs/schematic.cpp
  qucs/schematic.h
  qucs/symbolwidget.cpp
  qucs/symbolwidget.h
  qucs/viewpainter.cpp
  qucs/viewpainter.h
  qucs/wire.cpp
  qucs/wire.h
  qucs/wirelabel.cpp
  qucs/wirelabel.h
Labels: refactoring
