Repository ra3xdh/qucs_s, pull requests merged in 2024-03, with the labels that each got.

#627 Fix #624 (tentative)
  qucs/extsimkernels/xyce.cpp
Labels: xyce

#615 Fix some parameter and frequency sweep issues #186
  qucs/components/ac_sim.cpp
  qucs/components/componentdialog.cpp
  qucs/components/param_sweep.cpp
  qucs/components/sp_sim.cpp
  qucs/components/tr_sim.cpp
  qucs/spicecomponents/sp_disto.cpp
  qucs/spicecomponents/sp_noise.cpp
Labels: ngspice

#629 Revert WITH_QT6
  .github/workflows/cmake_qt6.yml
  CMakeLists.txt
  README.md
  qucs-activefilter/CMakeLists.txt
  qucs-attenuator/CMakeLists.txt
  qucs-filter/CMakeLists.txt
  qucs-powercombining/CMakeLists.txt
  qucs-transcalc/CMakeLists.txt
  qucs/CMakeLists.txt
  qucs/components/CMakeLists.txt
  qucs/diagrams/CMakeLists.txt
  qucs/dialogs/CMakeLists.txt
  qucs/extsimkernels/CMakeLists.txt
  qucs/paintings/CMakeLists.txt
  qucs/qt3_compat/CMakeLists.txt
  translations/CMakeLists.txt
Labels: packaging, cmake

#662 Backport matching tool from Qucs-0.0.20
  qucs/dialogs/matchdialog.cpp
  qucs/dialogs/matchdialog.h
  qucs/misc.cpp
  qucs/misc.h
Labels: RF
